body {
  background-color: black;
  padding: 6em 0;
}

.space-above {
  margin-top: 1em;
}

.player {
  background-color: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.name {
  height: 2.5em;
  overflow: hidden;
}

.name.editable-click {
  border-bottom: none;
}

.name.editable-click:hover {
  border-bottom: dashed 1px #0088cc;
}

.score {
  font-size: 72pt;
  margin-bottom: 0.5em;
}

.buttons {
  margin-bottom: 2em;
}

.disabled {
  background-color: #777;
}
